@font-face {
    font-family: silkserif-regularitalic-webfont;
    src: url();
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body{

    height: 100%;
    width: 100%;
    background-color:  #0B0B0B;

}
#cursor{
    height: 2.2vw;
    width: 2.2vw;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 1px solid #ffffff6c;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 14vw;

}

#main{
    position: relative;

}
.line{
    height: fit-content;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    gap: 2vw;
}
#line-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4vw;
}
#line-part1  h5, #line-part1 h6{
    font-size: 3.1vw;
    font-family: 'Silk Serif';
    font-weight: 100;
}
#line-part1  h5{
    /* background-color: rebeccapurple; */
    width: 5.5vw;
    text-align: right;
}

.line h1{
    
    font-size:5.7vw;
    font-weight: 400;
    text-transform: uppercase;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    /* position: fixed; */
}

.line h2 {
    display: flex;
    align-items: center;
    font-size:5.4vw;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}



@keyframes anime {
    0%{
        font-family: 'Plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    25%{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
    }
    75%{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
    
}


#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.6vw 6.6vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2 h4{
    font-size: 0.9vw;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
.hero h1{
    font-size: 7.4vw;
    text-transform: uppercase;
    line-height: 6.3vw;
    font-weight: 500;
    
    
}
.hero:nth-child(2){
    margin-top: 15vh;
}

.hero h2{
    font-size: 7.4vw;
    text-transform: uppercase;
    line-height: 6.3vw;
    font-weight: 500;
    
    
}
.hero h2:hover{
    -webkit-text-stroke:1px  #fff;
    color: transparent  ;
}

