@font-face {
    font-family: silkserif-regularitalic-webfont;
    src: url();
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,body{

    height: 100%;
    width: 100%;
    background-color:  #0B0B0B;

}
body{
    overflow-x: hidden;
}
#cursor{
    height: 2.2vw;
    width: 2.2vw;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 1px solid #ffffff6c;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 14vw;

}

#main{
    position: relative;

}
.line{
    height: fit-content;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    gap: 2vw;
}
#line-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4vw;
}
#line-part1  h5, #line-part1 h6{
    font-size: 3.1vw;
    font-family: 'Silk Serif';
    font-weight: 100;
}
#line-part1  h5{
    /* background-color: rebeccapurple; */
    width: 5.5vw;
    text-align: right;
}

.line h1{
    
    font-size:5.7vw;
    font-weight: 400;
    text-transform: uppercase;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    /* position: fixed; */
}

.line h2 {
    display: flex;
    align-items: center;
    font-size:5.4vw;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}



@keyframes anime {
    0%{
        font-family: 'Plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    25%{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
    }
    75%{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
    
}


#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.6vw 6.6vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2 h4{
    font-size: 0.9vw;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
.hero h1{
    font-size: 7.4vw;
    text-transform: uppercase;
    line-height: 6.3vw;
    font-weight: 500;
    
    
}
.hero:nth-child(2){
    margin-top: 15vh;
}

.hero h2{
    font-size: 7.4vw;
    text-transform: uppercase;
    line-height: 6.3vw;
    font-weight: 500;
    border-bottom: 0.3vw solid #fff;
    /* transition: all ease 0.3s; */
    
    
    
    
}
.hero h2:hover{
    -webkit-text-stroke:1px  #fff;
    color: transparent  ;
    border-bottom: 0.3vw solid #111010;
}
#page2{
    
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 17vh;
    position: relative;



}


#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);

}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cursor{
    background-color: #FFA63D;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10%;
    left: 80%;
}

#video-cursor i{

    font-size: 1.5vw;

}
#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: aqua;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vw 0;
    /* background-color: aqua; */
}
#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 7vw;
    font-weight: 500;
    text-transform: uppercase;
}
#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 4vw 0;
}
#page4-content>p{
    font-size: 2vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 48%;
}
#page4-flex p{
    font-size: 1vw;
    width: 19%;
    margin-left: 1vw;
}
#page4-bluediv{
     background-color: #3F7DF4;
     width: 30vw;   
     padding: 4vw 3vw;
     position: relative;
     margin-top: -33vh;
     margin-left: 25vw;
}
.bluediv-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 2.3vw 0;
    border-bottom: 2px solid #f6f4f474;
}

.bluediv-elem h4{
    font-size: 1.2vw;
    font-weight: 500;
    
    
}
.bluediv-elem p{
    width: 50%;
    font-size: 0.7vw;
    
}
#page5{
    min-width: 100vh;
    width: 100%;
    
}